
.text_editor {
    padding: 20px;
    height: 100%;
}
.ql-container.ql-snow {
    height: 100%;
    padding: 10px;
}

.ql-bubble {
    height: 450px;
}
.ql-container.ql-snow {
    height: 100%;
    color: red
  }






